.cart-item {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item-container {
  width: 100%;
}

h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.cart-item-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.summary {
  width: 200px;
}

.summary span{
  margin-right: 8px;
}

.removeBtn {
  margin-right: 10px;
}

.cart-item-container .actions button {
  border: none;
  border-radius: 17px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
