.title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.detail {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-amount {
  font-weight: bold;
  font-size: 1.4rem;
}

.price-hightlight {
  margin: 10px 0;
  padding: 5px 0 10px;
  border-bottom: 2px solid #000;
}