.control {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}

.control label {
  padding-right: 10px;
  width: 120px;
  flex-shrink: 0;
}

.control div {
  width: 100%;
}

.control input {
  width: 100%;
  padding: 10px;
  border-radius: 17px;
  border: 1px solid #ddd;
}

.control input.input-value-invalid {
  border: 1px solid tomato;
  background: rgba(255, 169, 154, 0.29);
}

.error-text {
  width: 100%;
  color: tomato;
  font-size: 0.8rem;
  margin: 5px 0;
}
