li {
  display: flex;
  width: calc((100% - 60px) / 3);
}

.description {
  color: #999;
  height: 50px;
  font-style: italic;
}

.price {
  font-size: 1rem;
}

@media (max-width: 1024px) {
  li {
    display: flex;
    width: calc((100% - 60px) / 2);
  }
}

@media (max-width: 550px) {
  li {
    display: flex;
    width: 100%;
  }
}
