body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

main {
  width: 80%;
  margin: 0 10%;
}

.bg-primary {
  background: rgb(27, 182, 133);
}
.bg-secondary {
  background: rgb(210, 210, 210);
}

ul {
  margin-left: -40px;
}

button {
  transition: 0.2s;
  cursor: pointer;
  border: none;
  border-radius: 17px;
}

button.button--alt {
  margin-right: 10px;
}

div
.actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top: 10px;
}
